.paymode {
	background-color: #EDF7FF;
	border: 1px solid #d6f0ff;
	margin: 20px 45px 0 45px;
	padding: 20px 20px;
}

.paymodetit {
	font-weight: bold;
	color: #1D7AD9;
}

.coininput {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ADDBFC;
	margin-left: 20px;
}

.paynumber {
	margin: 0 10px;
	width: 120px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.paygo {
	margin-left: 10px;
	width: 60px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #E36700;
	background-color: #f70;
	color: #fff;
}

.coinall {
	margin-top: 15px;
	margin-left: 20px;
}

.coinall span {
	color: #f70;
	font-weight: bold;
	font-size: 14px;
}

.coinall strong {
	font-size: 14px;
}